## Imports

In [1]:
import os
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

## Load in Citizen Science Data

In [2]:
data_path = os.path.join(os.getcwd(), '', 'citizenscience.csv')
citsci = pd.read_csv(data_path, delimiter = ',',  header=None, names=['user_id', 'timestamp'])

In [3]:
citsci['timestamp'] = pd.to_datetime(citsci['timestamp'])

In [4]:
citsci.describe()

                         user_id            timestamp
count                      99999                99999
unique                       943                13370
top     5050a6760454e27aae0026db  2014-12-29 21:38:00
freq                        5531                   69
first                        NaN  2014-12-23 16:53:00
last                         NaN  2015-01-05 17:33:00

In [5]:
citsci.dtypes

user_id              object
timestamp    datetime64[ns]
dtype: object

In [6]:
citsci.head()

                    user_id           timestamp
0  54999c8d9cd118282b001784 2014-12-23 16:53:00
1  54999c91bb7b56040d0011e8 2014-12-23 16:53:00
2  54999c8fbb7b565d7e000a7c 2014-12-23 16:53:00
3  54999cb29cd1184d77000539 2014-12-23 16:53:00
4  54068fab91ad6b597e000f97 2014-12-23 16:53:00

## Group Records by User_Id

In [7]:
grouped_users = citsci.groupby('user_id')['timestamp'].agg(['first','last'])

In [8]:
grouped_users.head()

                                       first                last
user_id
4d5835cc2a82e278e6000028 2015-01-05 09:07:00 2015-01-05 15:52:00
4fcaa6daae60e44a1900000b 2015-01-01 03:36:00 2015-01-01 03:38:00
50085cfc44dff81137000020 2014-12-28 22:32:00 2015-01-01 20:55:00
5013adf30454e27ae4000002 2015-01-02 22:12:00 2015-01-02 22:12:00
503e2b5eba40af242e000052 2014-12-26 13:12:00 2014-12-29 17:24:00

In [9]:
grouped_users['length'] = grouped_users['last'] - grouped_users['first']

In [10]:
longest_user_id = grouped_users.sort_values('length', ascending=False).iloc[0]
longest_user_id = '508920379177d041ea003fd8'
longest_user = citsci[citsci['user_id'] == '508920379177d041ea003fd8']
longest_user

                        user_id           timestamp
12     508920379177d041ea003fd8 2014-12-23 16:53:00
16     508920379177d041ea003fd8 2014-12-23 16:53:00
21     508920379177d041ea003fd8 2014-12-23 16:53:00
44     508920379177d041ea003fd8 2014-12-23 16:54:00
612    508920379177d041ea003fd8 2014-12-23 17:10:00
698    508920379177d041ea003fd8 2014-12-23 17:25:00
7210   508920379177d041ea003fd8 2014-12-24 16:01:00
7211   508920379177d041ea003fd8 2014-12-24 16:01:00
7212   508920379177d041ea003fd8 2014-12-24 16:02:00
7213   508920379177d041ea003fd8 2014-12-24 16:02:00
7214   508920379177d041ea003fd8 2014-12-24 16:02:00
18141  508920379177d041ea003fd8 2014-12-26 15:52:00
18142  508920379177d041ea003fd8 2014-12-26 15:52:00
18144  508920379177d041ea003fd8 2014-12-26 15:53:00
18146  508920379177d041ea003fd8 2014-12-26 15:54:00
18149  508920379177d041ea003fd8 2014-12-26 15:54:00
18152  508920379177d041ea003fd8 2014-12-26 15:54:00
18153  508920379177d041ea003fd8 2014-12-26 15:54:00
18155  508920379177d041ea003fd8 2014-12-26 15:55:00
18156  508920379177d041ea003fd8 2014-12-26 15:55:00
18157  508920379177d041ea003fd8 2014-12-26 15:55:00
18163  508920379177d041ea003fd8 2014-12-26 15:57:00
24997  508920379177d041ea003fd8 2014-12-27 15:36:00
24999  508920379177d041ea003fd8 2014-12-27 15:37:00
25000  508920379177d041ea003fd8 2014-12-27 15:37:00
25002  508920379177d041ea003fd8 2014-12-27 15:38:00
25124  508920379177d041ea003fd8 2014-12-27 15:55:00
25126  508920379177d041ea003fd8 2014-12-27 15:55:00
25128  508920379177d041ea003fd8 2014-12-27 15:55:00
25129  508920379177d041ea003fd8 2014-12-27 15:56:00
...                         ...                 ...
99333  508920379177d041ea003fd8 2015-01-05 17:02:00
99335  508920379177d041ea003fd8 2015-01-05 17:02:00
99336  508920379177d041ea003fd8 2015-01-05 17:02:00
99337  508920379177d041ea003fd8 2015-01-05 17:03:00
99338  508920379177d041ea003fd8 2015-01-05 17:03:00
99339  508920379177d041ea003fd8 2015-01-05 17:03:00
99340  508920379177d041ea003fd8 2015-01-05 17:03:00
99341  508920379177d041ea003fd8 2015-01-05 17:04:00
99342  508920379177d041ea003fd8 2015-01-05 17:04:00
99343  508920379177d041ea003fd8 2015-01-05 17:04:00
99347  508920379177d041ea003fd8 2015-01-05 17:04:00
99350  508920379177d041ea003fd8 2015-01-05 17:04:00
99354  508920379177d041ea003fd8 2015-01-05 17:05:00
99356  508920379177d041ea003fd8 2015-01-05 17:05:00
99357  508920379177d041ea003fd8 2015-01-05 17:06:00
99439  508920379177d041ea003fd8 2015-01-05 17:14:00
99440  508920379177d041ea003fd8 2015-01-05 17:14:00
99442  508920379177d041ea003fd8 2015-01-05 17:14:00
99443  508920379177d041ea003fd8 2015-01-05 17:14:00
99448  508920379177d041ea003fd8 2015-01-05 17:15:00
99449  508920379177d041ea003fd8 2015-01-05 17:15:00
99451  508920379177d041ea003fd8 2015-01-05 17:15:00
99455  508920379177d041ea003fd8 2015-01-05 17:15:00
99486  508920379177d041ea003fd8 2015-01-05 17:16:00
99901  508920379177d041ea003fd8 2015-01-05 17:30:00
99905  508920379177d041ea003fd8 2015-01-05 17:30:00
99908  508920379177d041ea003fd8 2015-01-05 17:30:00
99934  508920379177d041ea003fd8 2015-01-05 17:31:00
99942  508920379177d041ea003fd8 2015-01-05 17:31:00
99958  508920379177d041ea003fd8 2015-01-05 17:32:00

[543 rows x 2 columns]

## Group by User_Id, Timestamp

In [11]:
click_freq = citsci.groupby(['user_id', 'timestamp']).size()

In [13]:
click_freq['508920379177d041ea003fd8']

timestamp
2014-12-23 16:53:00    3
2014-12-23 16:54:00    1
2014-12-23 17:10:00    1
2014-12-23 17:25:00    1
2014-12-24 16:01:00    2
2014-12-24 16:02:00    3
2014-12-26 15:52:00    2
2014-12-26 15:53:00    1
2014-12-26 15:54:00    4
2014-12-26 15:55:00    3
2014-12-26 15:57:00    1
2014-12-27 15:36:00    1
2014-12-27 15:37:00    2
2014-12-27 15:38:00    1
2014-12-27 15:55:00    3
2014-12-27 15:56:00    5
2014-12-27 15:57:00    1
2014-12-27 15:58:00    1
2014-12-27 16:01:00    2
2014-12-27 16:11:00    2
2014-12-27 16:12:00    1
2014-12-27 16:13:00    1
2014-12-27 16:14:00    4
2014-12-27 16:15:00    5
2014-12-27 16:24:00    4
2014-12-27 16:25:00    1
2014-12-27 16:34:00    3
2014-12-27 16:36:00    1
2014-12-29 15:22:00    5
2014-12-29 15:24:00    2
                      ..
2015-01-05 15:48:00    1
2015-01-05 16:00:00    1
2015-01-05 16:01:00    4
2015-01-05 16:04:00    1
2015-01-05 16:05:00    5
2015-01-05 16:06:00    3
2015-01-05 16:07:00    3
2015-01-05 16:09:00    1
2015-01-05 16:10:00    1
2015-01-05 16:11:00    1
2015-01-05 16:20:00    1
2015-01-05 16:21:00    1
2015-01-05 16:25:00    4
2015-01-05 16:26:00    1
2015-01-05 16:40:00    1
2015-01-05 16:41:00    4
2015-01-05 16:42:00    1
2015-01-05 17:00:00    1
2015-01-05 17:01:00    2
2015-01-05 17:02:00    4
2015-01-05 17:03:00    4
2015-01-05 17:04:00    5
2015-01-05 17:05:00    2
2015-01-05 17:06:00    1
2015-01-05 17:14:00    4
2015-01-05 17:15:00    4
2015-01-05 17:16:00    1
2015-01-05 17:30:00    3
2015-01-05 17:31:00    2
2015-01-05 17:32:00    1
Length: 257, dtype: int64

## Group into Session Data

In [18]:
gt_30min = citsci.timestamp.diff() > pd.datetools.timedelta(minutes=30)

/Users/thomascartwright/miniconda3/envs/ipp/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: pandas.core.datetools.timedelta is deprecated. Please use datetime.timedelta instead.
  """Entry point for launching an IPython kernel.

In [23]:
diff_user = citsci.user_id != citsci.user_id.shift()

In [24]:
session_id = (diff_user | gt_30min).cumsum()

In [26]:
from string import ascii_uppercase

In [29]:
citsci['session_id'] = session_id

In [32]:
citsci

                        user_id           timestamp  session_id
0      54999c8d9cd118282b001784 2014-12-23 16:53:00           1
1      54999c91bb7b56040d0011e8 2014-12-23 16:53:00           2
2      54999c8fbb7b565d7e000a7c 2014-12-23 16:53:00           3
3      54999cb29cd1184d77000539 2014-12-23 16:53:00           4
4      54068fab91ad6b597e000f97 2014-12-23 16:53:00           5
5      54068fab91ad6b597e000f97 2014-12-23 16:53:00           5
6      54999c929cd1184d77000533 2014-12-23 16:53:00           6
7      505defb0ba40af6b79002e2d 2014-12-23 16:53:00           7
8      505defb0ba40af6b79002e2d 2014-12-23 16:53:00           7
9      505defb0ba40af6b79002e2d 2014-12-23 16:53:00           7
10     54999c95bb7b565d7e000a7d 2014-12-23 16:53:00           8
11     54068fab91ad6b597e000f97 2014-12-23 16:53:00           9
12     508920379177d041ea003fd8 2014-12-23 16:53:00          10
13     505defb0ba40af6b79002e2d 2014-12-23 16:53:00          11
14     505defb0ba40af6b79002e2d 2014-12-23 16:53:00          11
15     505defb0ba40af6b79002e2d 2014-12-23 16:53:00          11
16     508920379177d041ea003fd8 2014-12-23 16:53:00          12
17     54999cc59cd118496d0012ea 2014-12-23 16:53:00          13
18     54068fab91ad6b597e000f97 2014-12-23 16:53:00          14
19     54068fab91ad6b597e000f97 2014-12-23 16:53:00          14
20     54999c95bb7b565d7e000a7d 2014-12-23 16:53:00          15
21     508920379177d041ea003fd8 2014-12-23 16:53:00          16
22     505defb0ba40af6b79002e2d 2014-12-23 16:53:00          17
23     54999c9c9cd1184d77000535 2014-12-23 16:54:00          18
24     54068fab91ad6b597e000f97 2014-12-23 16:54:00          19
25     505defb0ba40af6b79002e2d 2014-12-23 16:54:00          20
26     505defb0ba40af6b79002e2d 2014-12-23 16:54:00          20
27     505defb0ba40af6b79002e2d 2014-12-23 16:54:00          20
28     505defb0ba40af6b79002e2d 2014-12-23 16:54:00          20
29     505defb0ba40af6b79002e2d 2014-12-23 16:54:00          20
...                         ...                 ...         ...
99969  54a47e7a9cd1185134000c11 2015-01-05 17:32:00       39180
99970  548a2a7627b562650b001344 2015-01-05 17:32:00       39181
99971  54a47e7a9cd1185134000c11 2015-01-05 17:32:00       39182
99972  548a2a7627b562650b001344 2015-01-05 17:32:00       39183
99973  548a2a7627b562650b001344 2015-01-05 17:32:00       39183
99974  548a2a7627b562650b001344 2015-01-05 17:32:00       39183
99975  548a2a7627b562650b001344 2015-01-05 17:32:00       39183
99976  54a47e7a9cd1185134000c11 2015-01-05 17:32:00       39184
99977  548a2a7627b562650b001344 2015-01-05 17:32:00       39185
99978  54a47e7a9cd1185134000c11 2015-01-05 17:32:00       39186
99979  54a47e7a9cd1185134000c11 2015-01-05 17:32:00       39186
99980  52d68d1135cb5d511f0001f8 2015-01-05 17:32:00       39187
99981  54a47e7a9cd1185134000c11 2015-01-05 17:32:00       39188
99982  52d68d1135cb5d511f0001f8 2015-01-05 17:32:00       39189
99983  54a47e7a9cd1185134000c11 2015-01-05 17:33:00       39190
99984  54a47e7a9cd1185134000c11 2015-01-05 17:33:00       39190
99985  54a47e7a9cd1185134000c11 2015-01-05 17:33:00       39190
99986  54a47e7a9cd1185134000c11 2015-01-05 17:33:00       39190
99987  54a47e7a9cd1185134000c11 2015-01-05 17:33:00       39190
99988  54a47e7a9cd1185134000c11 2015-01-05 17:33:00       39190
99989  54a47e7a9cd1185134000c11 2015-01-05 17:33:00       39190
99990  54a47e7a9cd1185134000c11 2015-01-05 17:33:00       39190
99991  548a2a7627b562650b001344 2015-01-05 17:33:00       39191
99992  548a2a7627b562650b001344 2015-01-05 17:33:00       39191
99993  52d68d1135cb5d511f0001f8 2015-01-05 17:33:00       39192
99994  54a47e7a9cd1185134000c11 2015-01-05 17:33:00       39193
99995  54a47e7a9cd1185134000c11 2015-01-05 17:33:00       39193
99996  548a2a7627b562650b001344 2015-01-05 17:33:00       39194
99997  548a2a7627b562650b001344 2015-01-05 17:33:00       39194
99998  54a47e7a9cd1185134000c11 2015-01-05 17:33:00       39195

[99999 rows x 3 columns]