# Imports

In [1]:
import os
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# Load in Citizen Science Data

In [2]:
data_path = os.path.join(os.getcwd(), '', 'citizenscience.csv')
citsci = pd.read_csv(data_path, delimiter = ',',  header=None, names=['user_id', 'timestamp'])

In [3]:
citsci['timestamp'] = pd.to_datetime(citsci['timestamp'])

In [4]:
citsci.describe()

                         user_id            timestamp
count                      99999                99999
unique                       943                13370
top     5050a6760454e27aae0026db  2014-12-29 21:38:00
freq                        5531                   69
first                        NaN  2014-12-23 16:53:00
last                         NaN  2015-01-05 17:33:00

In [5]:
citsci.dtypes

user_id              object
timestamp    datetime64[ns]
dtype: object

In [6]:
citsci.head()

                    user_id           timestamp
0  54999c8d9cd118282b001784 2014-12-23 16:53:00
1  54999c91bb7b56040d0011e8 2014-12-23 16:53:00
2  54999c8fbb7b565d7e000a7c 2014-12-23 16:53:00
3  54999cb29cd1184d77000539 2014-12-23 16:53:00
4  54068fab91ad6b597e000f97 2014-12-23 16:53:00

In [7]:
citsci = citsci.sort_values(['user_id', 'timestamp'])

# Group Records by User_Id

In [8]:
grouped_users = citsci.groupby('user_id')['timestamp'].agg(['first','last'])

In [9]:
grouped_users.head()

                                       first                last
user_id
4d5835cc2a82e278e6000028 2015-01-05 09:07:00 2015-01-05 15:52:00
4fcaa6daae60e44a1900000b 2015-01-01 03:36:00 2015-01-01 03:38:00
50085cfc44dff81137000020 2014-12-28 22:32:00 2015-01-01 20:55:00
5013adf30454e27ae4000002 2015-01-02 22:12:00 2015-01-02 22:12:00
503e2b5eba40af242e000052 2014-12-26 13:12:00 2014-12-29 17:24:00

In [10]:
grouped_users['length'] = grouped_users['last'] - grouped_users['first']

In [11]:
longest_user_id = grouped_users.sort_values('length', ascending=False).iloc[0]
longest_user_id = '508920379177d041ea003fd8'
longest_user = citsci[citsci['user_id'] == '508920379177d041ea003fd8']
longest_user

                        user_id           timestamp
12     508920379177d041ea003fd8 2014-12-23 16:53:00
16     508920379177d041ea003fd8 2014-12-23 16:53:00
21     508920379177d041ea003fd8 2014-12-23 16:53:00
44     508920379177d041ea003fd8 2014-12-23 16:54:00
612    508920379177d041ea003fd8 2014-12-23 17:10:00
698    508920379177d041ea003fd8 2014-12-23 17:25:00
7210   508920379177d041ea003fd8 2014-12-24 16:01:00
7211   508920379177d041ea003fd8 2014-12-24 16:01:00
7212   508920379177d041ea003fd8 2014-12-24 16:02:00
7213   508920379177d041ea003fd8 2014-12-24 16:02:00
7214   508920379177d041ea003fd8 2014-12-24 16:02:00
18141  508920379177d041ea003fd8 2014-12-26 15:52:00
18142  508920379177d041ea003fd8 2014-12-26 15:52:00
18144  508920379177d041ea003fd8 2014-12-26 15:53:00
18146  508920379177d041ea003fd8 2014-12-26 15:54:00
18149  508920379177d041ea003fd8 2014-12-26 15:54:00
18152  508920379177d041ea003fd8 2014-12-26 15:54:00
18153  508920379177d041ea003fd8 2014-12-26 15:54:00
18155  508920379177d041ea003fd8 2014-12-26 15:55:00
18156  508920379177d041ea003fd8 2014-12-26 15:55:00
18157  508920379177d041ea003fd8 2014-12-26 15:55:00
18163  508920379177d041ea003fd8 2014-12-26 15:57:00
24997  508920379177d041ea003fd8 2014-12-27 15:36:00
24999  508920379177d041ea003fd8 2014-12-27 15:37:00
25000  508920379177d041ea003fd8 2014-12-27 15:37:00
25002  508920379177d041ea003fd8 2014-12-27 15:38:00
25124  508920379177d041ea003fd8 2014-12-27 15:55:00
25126  508920379177d041ea003fd8 2014-12-27 15:55:00
25128  508920379177d041ea003fd8 2014-12-27 15:55:00
25129  508920379177d041ea003fd8 2014-12-27 15:56:00
...                         ...                 ...
99333  508920379177d041ea003fd8 2015-01-05 17:02:00
99335  508920379177d041ea003fd8 2015-01-05 17:02:00
99336  508920379177d041ea003fd8 2015-01-05 17:02:00
99337  508920379177d041ea003fd8 2015-01-05 17:03:00
99338  508920379177d041ea003fd8 2015-01-05 17:03:00
99339  508920379177d041ea003fd8 2015-01-05 17:03:00
99340  508920379177d041ea003fd8 2015-01-05 17:03:00
99341  508920379177d041ea003fd8 2015-01-05 17:04:00
99342  508920379177d041ea003fd8 2015-01-05 17:04:00
99343  508920379177d041ea003fd8 2015-01-05 17:04:00
99347  508920379177d041ea003fd8 2015-01-05 17:04:00
99350  508920379177d041ea003fd8 2015-01-05 17:04:00
99354  508920379177d041ea003fd8 2015-01-05 17:05:00
99356  508920379177d041ea003fd8 2015-01-05 17:05:00
99357  508920379177d041ea003fd8 2015-01-05 17:06:00
99439  508920379177d041ea003fd8 2015-01-05 17:14:00
99440  508920379177d041ea003fd8 2015-01-05 17:14:00
99442  508920379177d041ea003fd8 2015-01-05 17:14:00
99443  508920379177d041ea003fd8 2015-01-05 17:14:00
99448  508920379177d041ea003fd8 2015-01-05 17:15:00
99449  508920379177d041ea003fd8 2015-01-05 17:15:00
99451  508920379177d041ea003fd8 2015-01-05 17:15:00
99455  508920379177d041ea003fd8 2015-01-05 17:15:00
99486  508920379177d041ea003fd8 2015-01-05 17:16:00
99901  508920379177d041ea003fd8 2015-01-05 17:30:00
99905  508920379177d041ea003fd8 2015-01-05 17:30:00
99908  508920379177d041ea003fd8 2015-01-05 17:30:00
99934  508920379177d041ea003fd8 2015-01-05 17:31:00
99942  508920379177d041ea003fd8 2015-01-05 17:31:00
99958  508920379177d041ea003fd8 2015-01-05 17:32:00

[543 rows x 2 columns]

## Group by User_Id, Timestamp

In [12]:
click_freq = citsci.groupby(['user_id', 'timestamp']).size()

In [13]:
click_freq['508920379177d041ea003fd8']

timestamp
2014-12-23 16:53:00    3
2014-12-23 16:54:00    1
2014-12-23 17:10:00    1
2014-12-23 17:25:00    1
2014-12-24 16:01:00    2
2014-12-24 16:02:00    3
2014-12-26 15:52:00    2
2014-12-26 15:53:00    1
2014-12-26 15:54:00    4
2014-12-26 15:55:00    3
2014-12-26 15:57:00    1
2014-12-27 15:36:00    1
2014-12-27 15:37:00    2
2014-12-27 15:38:00    1
2014-12-27 15:55:00    3
2014-12-27 15:56:00    5
2014-12-27 15:57:00    1
2014-12-27 15:58:00    1
2014-12-27 16:01:00    2
2014-12-27 16:11:00    2
2014-12-27 16:12:00    1
2014-12-27 16:13:00    1
2014-12-27 16:14:00    4
2014-12-27 16:15:00    5
2014-12-27 16:24:00    4
2014-12-27 16:25:00    1
2014-12-27 16:34:00    3
2014-12-27 16:36:00    1
2014-12-29 15:22:00    5
2014-12-29 15:24:00    2
                      ..
2015-01-05 15:48:00    1
2015-01-05 16:00:00    1
2015-01-05 16:01:00    4
2015-01-05 16:04:00    1
2015-01-05 16:05:00    5
2015-01-05 16:06:00    3
2015-01-05 16:07:00    3
2015-01-05 16:09:00    1
2015-01-05 16:10:00    1
2015-01-05 16:11:00    1
2015-01-05 16:20:00    1
2015-01-05 16:21:00    1
2015-01-05 16:25:00    4
2015-01-05 16:26:00    1
2015-01-05 16:40:00    1
2015-01-05 16:41:00    4
2015-01-05 16:42:00    1
2015-01-05 17:00:00    1
2015-01-05 17:01:00    2
2015-01-05 17:02:00    4
2015-01-05 17:03:00    4
2015-01-05 17:04:00    5
2015-01-05 17:05:00    2
2015-01-05 17:06:00    1
2015-01-05 17:14:00    4
2015-01-05 17:15:00    4
2015-01-05 17:16:00    1
2015-01-05 17:30:00    3
2015-01-05 17:31:00    2
2015-01-05 17:32:00    1
Length: 257, dtype: int64

# Group into Session Data

In [14]:
sorted_citsci = citsci.sort_values(['user_id', 'timestamp'])

In [15]:
gt_30min = sorted_citsci.timestamp.diff() > pd.datetools.timedelta(minutes=30)

/Users/thomascartwright/miniconda3/envs/ipp/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: pandas.core.datetools.timedelta is deprecated. Please use datetime.timedelta instead.
  """Entry point for launching an IPython kernel.

In [16]:
diff_user = sorted_citsci.user_id != sorted_citsci.user_id.shift()

In [17]:
session_id = (diff_user | gt_30min).cumsum()

In [18]:
from string import ascii_uppercase

In [19]:
citsci['session_id'] = session_id

In [20]:
citsci

                        user_id           timestamp  session_id
95970  4d5835cc2a82e278e6000028 2015-01-05 09:07:00           1
95971  4d5835cc2a82e278e6000028 2015-01-05 09:07:00           1
95972  4d5835cc2a82e278e6000028 2015-01-05 09:08:00           1
96058  4d5835cc2a82e278e6000028 2015-01-05 09:33:00           1
98712  4d5835cc2a82e278e6000028 2015-01-05 15:04:00           2
98728  4d5835cc2a82e278e6000028 2015-01-05 15:04:00           2
98735  4d5835cc2a82e278e6000028 2015-01-05 15:05:00           2
98745  4d5835cc2a82e278e6000028 2015-01-05 15:06:00           2
98747  4d5835cc2a82e278e6000028 2015-01-05 15:06:00           2
98762  4d5835cc2a82e278e6000028 2015-01-05 15:07:00           2
98770  4d5835cc2a82e278e6000028 2015-01-05 15:07:00           2
98771  4d5835cc2a82e278e6000028 2015-01-05 15:07:00           2
98772  4d5835cc2a82e278e6000028 2015-01-05 15:08:00           2
98775  4d5835cc2a82e278e6000028 2015-01-05 15:08:00           2
98776  4d5835cc2a82e278e6000028 2015-01-05 15:08:00           2
98798  4d5835cc2a82e278e6000028 2015-01-05 15:09:00           2
98861  4d5835cc2a82e278e6000028 2015-01-05 15:16:00           2
98862  4d5835cc2a82e278e6000028 2015-01-05 15:16:00           2
98863  4d5835cc2a82e278e6000028 2015-01-05 15:16:00           2
98864  4d5835cc2a82e278e6000028 2015-01-05 15:17:00           2
98868  4d5835cc2a82e278e6000028 2015-01-05 15:17:00           2
98871  4d5835cc2a82e278e6000028 2015-01-05 15:17:00           2
98872  4d5835cc2a82e278e6000028 2015-01-05 15:17:00           2
98881  4d5835cc2a82e278e6000028 2015-01-05 15:19:00           2
98882  4d5835cc2a82e278e6000028 2015-01-05 15:19:00           2
98887  4d5835cc2a82e278e6000028 2015-01-05 15:19:00           2
98890  4d5835cc2a82e278e6000028 2015-01-05 15:20:00           2
98893  4d5835cc2a82e278e6000028 2015-01-05 15:20:00           2
98894  4d5835cc2a82e278e6000028 2015-01-05 15:20:00           2
98895  4d5835cc2a82e278e6000028 2015-01-05 15:20:00           2
...                         ...                 ...         ...
98652  54aaa4f4bb7b565415000023 2015-01-05 14:54:00        2260
98653  54aaa4f4bb7b565415000023 2015-01-05 14:54:00        2260
98654  54aaa4f4bb7b565415000023 2015-01-05 14:54:00        2260
98655  54aaa4f4bb7b565415000023 2015-01-05 14:54:00        2260
98656  54aaa4f4bb7b565415000023 2015-01-05 14:55:00        2260
98661  54aaa4f4bb7b565415000023 2015-01-05 14:55:00        2260
98690  54aaa579bb7b563483000398 2015-01-05 15:01:00        2261
98790  54aaa579bb7b563483000398 2015-01-05 15:09:00        2261
98927  54aaa579bb7b563483000398 2015-01-05 15:24:00        2261
98892  54aaaba29cd1180cf7000070 2015-01-05 15:20:00        2262
98896  54aaaba29cd1180cf7000070 2015-01-05 15:20:00        2262
98901  54aaaba29cd1180cf7000070 2015-01-05 15:21:00        2262
98903  54aaaba29cd1180cf7000070 2015-01-05 15:21:00        2262
98904  54aaaba29cd1180cf7000070 2015-01-05 15:21:00        2262
98906  54aaaba29cd1180cf7000070 2015-01-05 15:22:00        2262
98907  54aaaba29cd1180cf7000070 2015-01-05 15:22:00        2262
98909  54aaaba29cd1180cf7000070 2015-01-05 15:22:00        2262
98910  54aaaba29cd1180cf7000070 2015-01-05 15:22:00        2262
98912  54aaaba29cd1180cf7000070 2015-01-05 15:22:00        2262
98915  54aaaba29cd1180cf7000070 2015-01-05 15:23:00        2262
98917  54aaaba29cd1180cf7000070 2015-01-05 15:23:00        2262
98918  54aaaba29cd1180cf7000070 2015-01-05 15:23:00        2262
98922  54aaaba29cd1180cf7000070 2015-01-05 15:24:00        2262
98926  54aaaba29cd1180cf7000070 2015-01-05 15:24:00        2262
98928  54aaaba29cd1180cf7000070 2015-01-05 15:24:00        2262
99780  54aac9549cd11825500000f8 2015-01-05 17:26:00        2263
99802  54aac9549cd11825500000f8 2015-01-05 17:27:00        2263
99811  54aac9549cd11825500000f8 2015-01-05 17:27:00        2263
99814  54aac9549cd11825500000f8 2015-01-05 17:27:00        2263
99821  54aac9549cd11825500000f8 2015-01-05 17:28:00        2263

[99999 rows x 3 columns]

In [21]:
citsci[citsci['user_id'] == '508920379177d041ea003fd8']

                        user_id           timestamp  session_id
12     508920379177d041ea003fd8 2014-12-23 16:53:00         301
16     508920379177d041ea003fd8 2014-12-23 16:53:00         301
21     508920379177d041ea003fd8 2014-12-23 16:53:00         301
44     508920379177d041ea003fd8 2014-12-23 16:54:00         301
612    508920379177d041ea003fd8 2014-12-23 17:10:00         301
698    508920379177d041ea003fd8 2014-12-23 17:25:00         301
7210   508920379177d041ea003fd8 2014-12-24 16:01:00         302
7211   508920379177d041ea003fd8 2014-12-24 16:01:00         302
7212   508920379177d041ea003fd8 2014-12-24 16:02:00         302
7213   508920379177d041ea003fd8 2014-12-24 16:02:00         302
7214   508920379177d041ea003fd8 2014-12-24 16:02:00         302
18141  508920379177d041ea003fd8 2014-12-26 15:52:00         303
18142  508920379177d041ea003fd8 2014-12-26 15:52:00         303
18144  508920379177d041ea003fd8 2014-12-26 15:53:00         303
18146  508920379177d041ea003fd8 2014-12-26 15:54:00         303
18149  508920379177d041ea003fd8 2014-12-26 15:54:00         303
18152  508920379177d041ea003fd8 2014-12-26 15:54:00         303
18153  508920379177d041ea003fd8 2014-12-26 15:54:00         303
18155  508920379177d041ea003fd8 2014-12-26 15:55:00         303
18156  508920379177d041ea003fd8 2014-12-26 15:55:00         303
18157  508920379177d041ea003fd8 2014-12-26 15:55:00         303
18163  508920379177d041ea003fd8 2014-12-26 15:57:00         303
24997  508920379177d041ea003fd8 2014-12-27 15:36:00         304
24999  508920379177d041ea003fd8 2014-12-27 15:37:00         304
25000  508920379177d041ea003fd8 2014-12-27 15:37:00         304
25002  508920379177d041ea003fd8 2014-12-27 15:38:00         304
25124  508920379177d041ea003fd8 2014-12-27 15:55:00         304
25126  508920379177d041ea003fd8 2014-12-27 15:55:00         304
25128  508920379177d041ea003fd8 2014-12-27 15:55:00         304
25129  508920379177d041ea003fd8 2014-12-27 15:56:00         304
...                         ...                 ...         ...
99333  508920379177d041ea003fd8 2015-01-05 17:02:00         321
99335  508920379177d041ea003fd8 2015-01-05 17:02:00         321
99336  508920379177d041ea003fd8 2015-01-05 17:02:00         321
99337  508920379177d041ea003fd8 2015-01-05 17:03:00         321
99338  508920379177d041ea003fd8 2015-01-05 17:03:00         321
99339  508920379177d041ea003fd8 2015-01-05 17:03:00         321
99340  508920379177d041ea003fd8 2015-01-05 17:03:00         321
99341  508920379177d041ea003fd8 2015-01-05 17:04:00         321
99342  508920379177d041ea003fd8 2015-01-05 17:04:00         321
99343  508920379177d041ea003fd8 2015-01-05 17:04:00         321
99347  508920379177d041ea003fd8 2015-01-05 17:04:00         321
99350  508920379177d041ea003fd8 2015-01-05 17:04:00         321
99354  508920379177d041ea003fd8 2015-01-05 17:05:00         321
99356  508920379177d041ea003fd8 2015-01-05 17:05:00         321
99357  508920379177d041ea003fd8 2015-01-05 17:06:00         321
99439  508920379177d041ea003fd8 2015-01-05 17:14:00         321
99440  508920379177d041ea003fd8 2015-01-05 17:14:00         321
99442  508920379177d041ea003fd8 2015-01-05 17:14:00         321
99443  508920379177d041ea003fd8 2015-01-05 17:14:00         321
99448  508920379177d041ea003fd8 2015-01-05 17:15:00         321
99449  508920379177d041ea003fd8 2015-01-05 17:15:00         321
99451  508920379177d041ea003fd8 2015-01-05 17:15:00         321
99455  508920379177d041ea003fd8 2015-01-05 17:15:00         321
99486  508920379177d041ea003fd8 2015-01-05 17:16:00         321
99901  508920379177d041ea003fd8 2015-01-05 17:30:00         321
99905  508920379177d041ea003fd8 2015-01-05 17:30:00         321
99908  508920379177d041ea003fd8 2015-01-05 17:30:00         321
99934  508920379177d041ea003fd8 2015-01-05 17:31:00         321
99942  508920379177d041ea003fd8 2015-01-05 17:31:00         321
99958  508920379177d041ea003fd8 2015-01-05 17:32:00         321

[543 rows x 3 columns]

# Add new columns to each HIT

### Add session duration so far field

In [23]:
session_duration = citsci['timestamp'] - citsci.groupby('session_id')['timestamp'].transform('first')
citsci['session_duration'] = session_duration

### Add times since last HIT field

In [25]:
idle_time = citsci.groupby('session_id')['timestamp'].diff().fillna(0)
citsci['idle_time'] = idle_time